<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.infiniteuny.c3">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icons"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="id.infiniteuny.c3.MainActivity"
            android:name="id.infiniteuny.c3.covid.CovidView"></activity>
        <activity
            android:name="id.infiniteuny.c3.sigap.SigapView"
            android:parentActivityName="id.infiniteuny.c3.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="id.infiniteuny.c3.activity.SliderView"
            android:parentActivityName="id.infiniteuny.c3.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="id.infiniteuny.c3.maps.MapsView"
            android:parentActivityName="id.infiniteuny.c3.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="id.infiniteuny.c3.hotline.HotlineView"
            android:parentActivityName="id.infiniteuny.c3.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="id.infiniteuny.c3.protocol.ProtokolList"
            android:parentActivityName="id.infiniteuny.c3.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="id.infiniteuny.c3.DaringView"
            android:parentActivityName="id.infiniteuny.c3.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="id.infiniteuny.c3.news.DetailNews"
            android:parentActivityName="id.infiniteuny.c3.news.NewsView"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="id.infiniteuny.c3.news.NewsView"
            android:parentActivityName="id.infiniteuny.c3.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="id.infiniteuny.c3.info.InfoView"
            android:parentActivityName="id.infiniteuny.c3.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="id.infiniteuny.c3.protocol.ProtocolView"
            android:parentActivityName="id.infiniteuny.c3.protocol.ProtokolList"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="id.infiniteuny.c3.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="id.infiniteuny.c3.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>